.typewriter {
    content: "";
    width: 5px;
    height: 20px;
    background: gray;
    animation: cursor-blink 1s steps(1) infinite;
}

@keyframes cursor-blink {
    0%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}