.typewriter span::after {
    content: "";
    width: 5px;
    height: 24px;
    background: gray;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.typewriter span {
    display: flex;
    align-items: flex-end;
}

@keyframes cursor-blink {
    0%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}